html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 13px;
    font-family: "Lato", sans-serif;
    background-image: url(../images/7742.jpg);
    background-size: cover;
}

/*Main text*/
.main-text h1{
    color: #D11342;
    font-size: 80px;
    text-align: center;
    margin: 0px;
    padding: 20px 0 0 0;
}

.main-text h2{
    color: #CC0033;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.main-text h3 {
    color: #336699;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    padding: 40px 0 30px 0;
}
/*Questions-container*/
.questions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.questions-stage {
    width: 900px;
}
.questions {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.question{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgba(159, 182, 205, 0.5);
    padding: 10px;
    border-radius: 15px;
}

.question p{
    color: #FFFDE7;
    font-size: 20px;
    font-weight: 100;
    margin-top: 0;
}

.answers {
    list-style: none;
    padding: 0;
}

.answer,
.answer-correct {
    border: 1px solid #4f779e;
    border-radius: 10px;
    height: 40px;
    width: 400px;
    background-color: #678fb5;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #FFFDE7;
}

.answer:hover,
.answer-correct:hover {
    cursor: pointer;
    background-color: #E83A57;
    border: 1px solid #EF5350;
}

.icon{
    margin: 6px;
    font-size: 17px;
    color: #FFFDE7;
}

.previous-arrow,
.next-arrow {
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.previous-arrow:hover,
.next-arrow:hover{
    cursor: pointer;
    color: #607D8B;
}

/*Footer*/
.footer {
    color: #3366CC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    margin-top: 70px;
}

.footer p a{
    text-decoration: none;
    font-weight: 600;
    padding: 8px;
    color: #3366CC;
}

.footer p a:hover{
    cursor: pointer;
    color: #3A7BFC;
}










